<section class="section is-medium has-background-info " id="about">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <div style="background: url('.{{page.about.image}}') no-repeat center; background-size: cover; width: 100%; height: 400px;">

          </div> 
          <!-- <img src="https://wikiki.github.io/images/life.jpg" height="250px" alt=""> -->
        </div>
        <div class="column is-4 is-offset-1 has-text-left" style="display: flex; justify-content: center;">
          <div style="align-self: center;">
            <div>
              <h1 class="title has-text-white is-size-3">{{ page.about.title }}</h1>
              <hr>
              <div class="has-text-white is-size-6 content">
              {{content}}
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>