{% for slide in page.carousel %}
<div class='carousel-item has-background'>
    <div class="is-background">
      <div style="width:100%; height:100%; background-image:url('.{{slide.image}}'); background-position: center; background-size: cover; background-repeat:no-repeat;">
        <div style="width:100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: row;">
          <div style="height: fit-content;">
            <div class="carousel-content content has-text-centered" >
              <h1 class="has-text-white">
                {{slide.title}}
              </h1>
              <h5 class="has-text-white">
                {{slide.subtitle}}
              </h5>
              <br><br><br>
              <a href="#" class="button is-primary is-rounded">
                {{slide.link}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}