<footer class="">
  <div class="footer has-small-padding-bottom has-background-primary has-text-white">
    <div class="container">
      <div class="columns is-narrow">
        <div class="column is-12">
          <img src="{{site.url}}/uploads/DesertJewelsLogo-white.svg" width="375px" alt="Desert Jewels Nursery Logo White">
        </div>
      </div>
      <div class="columns is-variable is-8">
        <div class="column is-3">
          <div>
            <h1 class="has-text-weight-bold is-size-4 is-family-sans-serif">Hours</h1>
            <p>April 5th - June 29th</p>
            <p>Sep. 6th - Oct. 12th</p>
            <p>Fridays & Saturdays 9-5</p>
            <p>OR CALL FOR AN APPOINTMENT</p>
          </div><br>
          <div>
            <h1 class="has-text-weight-bold is-size-4 is-family-sans-serif">Contact</h1>
            <a class="has-text-white" href="https://www.google.com/maps/place/9809+E+Upriver+Dr,+Spokane,+WA+99206/@47.6971537,-117.2750851,17z/data=!3m1!4b1!4m5!3m4!1s0x549e1fe9c105b395:0xb026b0b2826aaa1a!8m2!3d47.6971501!4d-117.2728963">
              <p>9809 East Upriver Drive</p>
              <p>Spokane, WA 99206</p>
            </a>
            <br>
            <a class="has-text-white" href="mailto:info@desertjewelsnursery.com">info@desertjewelsnursery.com</a><br>
            <a class="has-text-white" href="tel:+15098933771">(509) 893-3771</a>
          </div>
        </div>
        <div class="column is-3">
          <h1 class="has-text-weight-bold is-size-4 is-family-sans-serif">Inventory</h1>
          {% for item in site.inventory %}
          <a href="/inventory/{{item.file}}" class="has-text-white">
            {{item.title}}
          </a><br>
          {% endfor %}
        </div>
        <div class="column is-3">
          <h1 class="has-text-weight-bold is-size-4 is-family-sans-serif">We're for the</h1>
          <p>Environmentally conscious homeowners and landscapers, people who wish to encourage birds and butterflies,
            people on wells with low water availability, rock gardeners and collectors will all find something
            interesting and beautiful at Desert Jewels Nursery.</p>
        </div>
        <div class="column is-3">
          <h1 class="has-text-weight-bold is-size-4 is-family-sans-serif">We're on Upriver Dr.</h1>
          <img src="{{site.url}}/uploads/map.png" width="100%" height="auto" alt="Map of Local Area">
        </div>
      </div>
    </div>
  </div>
  <div class="notification has-background-link has-text-white is-radiusless">
    <div class="container">
      <div class="columns">
          <div class="column is-6">
            © Copyright 2019 Desert Jewels Nursery 
          </div>
          <div class="column is-6">Site Designed by <a href="https://www.thinkingdesign.studio" target="_blank">Thinking Design Studio</a></div>
        </div>
    </div>
  </div>
</footer>