<footer class="">
  <div class="footer has-small-padding-bottom has-background-primary has-text-white">
    <div class="container">
      <div class="columns is-narrow">
        <div class="column is-12">
          <img src="{{site.url}}/uploads/DesertJewelsLogo-white.svg" width="375px" alt="Desert Jewels Nursery Logo White">
        </div>
      </div>
      <div class="columns is-variable is-8">
        <div class="column is-3">
          <div>
            <h1 class="has-text-weight-bold is-size-4 is-family-sans-serif">
            {{ site.data.footer.hours.title }}</h1>
            <p>{{site.data.footer.hours.schedule-one}}</p>
            <p>{{site.data.footer.hours.schedule-two}}</p>
            <p>{{site.data.footer.hours.days}}</p>
            <p>{{site.data.footer.hours.appointment}}</p>
          </div><br>
          <div>
            <h1 class="has-text-weight-bold is-size-4 is-family-sans-serif">{{site.data.footer.contact.title}}</h1>
            <a class="has-text-white" href="{{site.data.footer.contact.link}}">
              <p>{{site.data.footer.contact.address}}</p>
              <p>{{site.data.footer.contact.location}}</p>
            </a>
            <br>
            <a class="has-text-white" href="mailto:{{site.data.footer.contact.email}}">{{site.data.footer.contact.email}}</a><br>
            <a class="has-text-white" href="tel:+{{site.data.footer.contact.tel}}">{{site.data.footer.contact.phone}}</a>
          </div>
        </div>
        <div class="column is-3">
          <h1 class="has-text-weight-bold is-size-4 is-family-sans-serif">{{site.data.footer.inventory-title}}</h1>
          {% for item in site.inventory %}
          <a href="/inventory/{{item.file}}" class="has-text-white">
            {{item.title}}
          </a><br>
          {% endfor %}
        </div>
        <div class="column is-3">
          <h1 class="has-text-weight-bold is-size-4 is-family-sans-serif">{{site.data.footer.description.title}}</h1>
          <p>{{site.data.footer.description.bio}}</p>
        </div>
        <div class="column is-3">
          <h1 class="has-text-weight-bold is-size-4 is-family-sans-serif">{{site.data.footer.map.title}}</h1>
          <img src="{{site.url}}{{site.data.footer.map.image}}" width="100%" height="auto" alt="Map of Local Area">
        </div>
      </div>
    </div>
  </div>
  <div class="notification has-background-link has-text-white is-radiusless">
    <div class="container">
      <div class="columns">
          <div class="column is-6">
             {{site.data.footer.copyright}}
          </div>
          <div class="column is-6">Site Designed by <a href="https://www.thinkingdesign.studio" target="_blank">Thinking Design Studio</a></div>
        </div>
    </div>
  </div>
</footer>