<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page.title}}</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merienda:400,700|Raleway:500,900" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="./uploads/favicon.ico">

  <!-- Styles -->
  <link rel="stylesheet" href="{{site.url}}/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/styles.css">

</head>

<body>