{% for inventory in page.inventory %}
<div class="column is-4-desktop is-6-tablet is-6-mobile">
  <div class="square grow" style="background: url({{site.url}}{{inventory.image}}) no-repeat center; background-size: cover;">
    <a href="{{site.url}}/inventory/{{inventory.link}}">
      <div class="square-cont has-text-centered">
        <div class="content">
          <h1>{{inventory.title}}</h1>
          <p>{{inventory.subtitle}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
{% endfor %}