<nav class="navbar is-light" role="navigation" aria-label="main navigation" style="background-color: rgba(255,255,255,.9);">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-brand" href="{{site.url}}">
          <img src="{{site.url}}/uploads/DesertJewelsLogo.svg" width="375px" alt="Desert Jewels Nursery Logo">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a href="/#about" class="navbar-item">
            About
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{{site.url}}/inventory">
              Inventory
            </a>
            <div class="navbar-dropdown">
              <a href="#" class="navbar-item">
                Perennials
              </a>
              <a href="#" class="navbar-item">
                Annuals
              </a>
              <a href="#" class="navbar-item">
                Low Shrubs
              </a>
              <a href="#" class="navbar-item">
                Ground Cover
              </a>
              <a href="#" class="navbar-item">
                Grasses
              </a>
              <a href="#" class="navbar-item">
                Medium Shrubs
              </a>
              <a href="#" class="navbar-item">
                Vines
              </a>
              <a href="#" class="navbar-item">
                Tall Shrubs
              </a>
              <a href="#" class="navbar-item">
                Trees
              </a>

            </div>
          </div>
          <a href="{{site.url}}/penstemons/" class="navbar-item">
            Penstemons
          </a>
          <a href="{{site.url}}/pollinators/" class="navbar-item">
            Pollinators
          </a>
          <a href="#" class="navbar-item">
            Contact
          </a>
        </div>
      </div>
    </div>
  </nav>