{% include head.html %}

<div class="hero is-light">
  <div class="hero-head">
    {% include nav.html %}
  </div>
</div>
<div class="columns is-multiline has-background-info">
    <div class=" container column is-12">
      <h1 class="title has-text-white" style="padding:15px;">Our Blog</h1>
    </div>
  </div>
<section class="section" style="padding-top:0px;" id="blog">
  <div class="container">
    {% include blog.html %}
  </div>
</section>
{% include footer.html %}

{% include scripts.html %}