{% include head.html %}
<div class="hero is-fullheight has-carousel is-light">
  {% include herocarousel.html %}
  <div class="hero-head">
    {% include nav.html %}
  </div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body has-text-white">

  </div>
  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <!-- <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a>Modifiers</a></li>
            <li><a>Grid</a></li>
            <li><a>Elements</a></li>
            <li><a>Components</a></li>
            <li><a>Layout</a></li>
          </ul>
        </div>
      </nav> -->
  </div>
</div>
{% include about.html %}
<section class="section is-small has-background-link">
  <h1 class="container title has-text-white">{{page.inventory-title}}</h1>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-6 is-mobile">
      {% include inventory.html %}
    </div>
  </div>
</section>
<section class="section is-small" style="padding-top: 0px;">
  <h1 class="container title">{{page.blog-title}}</h1>
</section>
<section class="section" style="padding-top:0px;" id="blog">
  <div class="container">
    <div class="columns">
      {% for post in site.posts limit: 1 %}
          <!--    use a conditional to iterate through an int -->  
              <article class="column">
                <a href="{{post.url}}">
                  <div class="blog-images" class="is-fullwidth" style="background-image: url({{ post.image }}); background-position: center; background-repeat: none;background-size: cover; width:100%; height:360px;">
                    <div class="featured-content" style="width:100%; height:100%;">
                      <div class="blog-posts has-text-grey-darker">
                        <h4 class="is-size-6"><time datetime="{{post.date}}">{{post.date | date: '%B %d, %Y' }}</time></h4>
                        <h3 class="has-text-weight-bold is-size-4">{{ post.title }}</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </article>
              {% endfor %}
    </div>
  </div>
</section>
{% include footer.html %}

{% include scripts.html %}