{% include head.html %}
<div class="hero is-fullheight has-carousel is-light">
  {% include herocarousel.html %}
  <div class="hero-head">
    {% include nav.html %}
  </div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body has-text-white">

  </div>
  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <!-- <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a>Modifiers</a></li>
            <li><a>Grid</a></li>
            <li><a>Elements</a></li>
            <li><a>Components</a></li>
            <li><a>Layout</a></li>
          </ul>
        </div>
      </nav> -->
  </div>
</div>
{% include about.html %}
<section class="section is-small has-background-link has-text-centered">
  <h1 class="title has-text-white">Our Inventory</h1>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-6 is-mobile">
      {% include inventory.html %}
    </div>
  </div>
</section>
<section class="section" style="padding-top:0px;" id="blog">
  <div class="container">
    {% include blog.html %}
  </div>
</section>
{% include footer.html %}

{% include scripts.html %}