<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page.title}}</title>

  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">

</head>

<body>
  <div class="hero is-large has-carousel">
    <div class="hero-carousel carousel-animated carousel-animate-fade">
        <div class='carousel-container'>
            <div class='carousel-item has-background is-active'>
              <img class="is-background" src="https://wikiki.github.io/images/merry-christmas.jpg" alt="" />
            </div>
            <div class='carousel-item has-background'>
              <img class="is-background" src="https://wikiki.github.io/images/singer.jpg" alt="" />
            </div>
            <div class='carousel-item has-background'>
              <img class="is-background" src="https://wikiki.github.io/images/sushi.jpg" alt="" />
            </div>
            <div class='carousel-item has-background'>
              <img class="is-background" src="https://wikiki.github.io/images/life.jpg" alt="" />
            </div>
          </div>
          <div class="carousel-navigation is-overlay">
            <div class="carousel-nav-left">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="carousel-nav-right">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
          </div>
    </div>
    <div class="hero-head">
      {% include nav.html %}
    </div>
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Title
        </h1>
        <h2 class="subtitle">
          Subtitle
        </h2>
      </div>
    </div>
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a>Modifiers</a></li>
            <li><a>Grid</a></li>
            <li><a>Elements</a></li>
            <li><a>Components</a></li>
            <li><a>Layout</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  {% include scripts.html %}
</body>

</html>